canvas {
    position: absolute;
    top: 50px;
    left: 50px;
    border: 1px solid #d3d3d3;
}

div#control_table{
    position: absolute;
    top: 380px;
    left: 50px;
}

input#run_button{
    position: absolute;
    left: 300px;
    width: 150px;
}

div#setting_table{
    position: absolute;
    top: 430px;
    left: 50px;
}

.object {
    display: flex;
}

#object1 {
    margin-bottom: 30px;
}

#object2 {
    margin-bottom: 30px;
}

.object_label {
    margin-left: 0px;
}

.mass_label {
    margin-left: 40px;
}

.mass_input {
    width: 70px;
}

.color_label {
    margin-left: 40px;
}

.color_input {
    width: 40px;
    height: 20px;
}

.velocity_label {
    margin-left: 60px;
}

.velocity_input {
    width: 100px;
}

#elastic_label {
    position: absolute;
    top: 105px;
}
#elastic_check_box {
    position: absolute;
    left: 95px;
    width: 20px;
    height: 20px;
}